@font-face {
  font-family: Hind Siliguri;
  src: url("../font/Hind_Siliguri/HindSiliguri-Regular.ttf");
}

@font-face {
  font-family: Hind Siliguri-bold;
  src: url("../font/Hind_Siliguri/HindSiliguri-Bold.ttf");
}

@font-face {
  font-family: Open-Sans;
  src: url("../font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* Remove the underline of the link */
}

/* css header */
.container {
  height: 56px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;/* order: top-right-bottom-left */
}

/* css header items */
.info {
  display: flex;
  font-family: Hind Siliguri;
  font-size: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.64px;
  text-align: center;
}

.header-main {
  display: flex;
  font-family: Hind Siliguri-bold;
  font-weight: 600;
  font-size: 18px;
  line-height: 29.11px;
  text-align: center;
  /* left: 50%;
  transform: translateX(-50%); */
}

.text {
  padding-right: 50px;
}

.img {
  padding-right: 15px;
}
/* end of the css header items */

/* start of the css second header items */
.nav { 
  display: flex;
  height: 109px;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  align-content: center;
  padding: 0 80px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.nav-bar1 {
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 49px;
  color: #9e3040;
}

.nav-bar2 {
  font-family: Hind Siliguri;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  /* left: 50%; 
  transform: translate(-50%); */
}

/* .nav-bar2.horizontal-list {
  margin-right: 100px;
} */

.link {
  display: block;
  margin-right: 40px;
}

.horizontal-list {
  list-style: none;
  display: flex;
}

.nav-bar3 {
  align-items: center;
  flex-direction: row;
  gap: 7px; /* Sets a 7px gap between flex items */
}

.nav-bar3 .button {
  margin-right: 20px;
  height: 49px;
  width: 49px;
  border-radius: 5px;
}

.button {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
}

.button2 {
  background-color: #9E3040;
  font-family: Hind Siliguri;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

.nav-bar3 .button2 {
  border-radius: 5px;
  height: 49px;
  width: 126px;
}
/* end of the second header */

/* satrt the article part */
.main-part {
  background: url("../Images/Untitled-1\ 1main\ image.svg") no-repeat center;
  height: 750px;
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: column;
} 

.main-text{
  font-family: Hind Siliguri;
  color: #ffffff;
  font-size: 64px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 80px;
  height: 150px;
  width: 422px;
  left: 80px;
  top: 401px;
}

.under-text {
  font-family: Open-Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  height: 33px;
  width: 458px;
  left: 80px;
  top: 565px;
  padding: 0 80px;
}

.shop-button {
  height: 49px;
  width: 187px;
  left: 81px;
  top: 630px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #9e3040;
  width: 187px;
  height: 49px;
  margin: 0 80px;
  border: 0;
  background: #ffffff;
}
/* end the article part */

/* start of the benefit part */
.benefit-part {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background: url("../Images/Vector\ 2.png") no-repeat center;
  background-size: 100%;
}

.benefit-part .delivery {
  flex-direction: column;
  margin: 50px;
}

.delivery {
  text-align: center;
}

.p1 {
  font-family: Hind Siliguri;
  font-size: 30px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
}

.p2 {
  font-family: Open-Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
/* end of the benefit part */

/* start of the product part / titel and section 1 */
.product-part {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.p3 {
  font-family: Hind Siliguri;
  font-size: 36px;
  font-weight: 600;
  line-height: 58px;
  text-align: center;
}

.article-part {
  display: flex;
  padding-left: 50px;
}

.section1 {
  background: url("../Images/image\ 14.png") no-repeat center;
  color: #ffffff;
  width: 548px;
  height: 707px;
  border: #fff;
  border-radius: 30px;
  margin-top: 40px;
  padding-top: 195px;
}

.p4 {
  font-family: Hind Siliguri;
  font-size: 58px;
  font-weight: 600;
  line-height: 68px;
  text-align: center;
}
/* end of the product part / titel and section 1 */

/* satart of the section2 of the product part */
.section2 {
  display: grid;
  grid-template-rows: repeat(2 , 1fr);
  grid-template-columns: repeat(2 , 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  margin-top: 40px;
  margin-left: 2rem;
}

.div {
  background: #F3F5F6;
  border-radius: 10px;
  text-align: center;
  padding: 14px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 418px;
  width: 329px;
  left: 665px;
  top: 1407px;
  padding: 10px;
}

.image {
  padding: 10px;
}

.text1 {
  font-family: Open-Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  padding-left: 14px;
  padding-bottom: 80px;
  color: #232323;
}

.price {
  display: flex;
}

.numbers1 {
  font-family: Hind Siliguri;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
  text-align: left;
  color: #9E3040;
  padding: 10px;
}

.numbers2 {
  text-decoration: line-through;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  height: 26px;
  color: #686868;
  padding-top: 19px;
}

.add-cart {
  font-family: Hind Siliguri;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
}